$linkColorBlue: #0A59B0;
$linkColorBlack: #000;
$mobileWidth: 768px;
$smallmobileWidth: 480px;
$bigScreenWidth: 1600px;
$leftWidth: 220px;
$h2ColorBlack: #222222;
$taglineColorGrey: #aaa;
$postCategoriesLiColorBackground: #E3E3E3;
$postDateColorBlack: #555;
$postColor: #222;
$postLabelBBColorWhite: #eee;
$postLabelColorGray: #777;
$socialLinkColorPurple: rgb(75,0,130);